<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-cxacaix-heading"
        data-cy="CxacaixCreateUpdateHeading"
        jhiTranslate="mainMicroApp.cxacaixmicroCxacaix.home.createOrEditLabel"
      >
        Create or edit a Cxacaix
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mainMicroApp.cxacaixmicroCxacaix.cxacaixId" for="field_cxacaixId"
            >Cxacaix Id</label
          >
          <input type="number" class="form-control" name="cxacaixId" id="field_cxacaixId" data-cy="cxacaixId" formControlName="cxacaixId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mainMicroApp.cxacaixmicroCxacaix.xrefCardNum" for="field_xrefCardNum"
            >Xref Card Num</label
          >
          <input
            type="text"
            class="form-control"
            name="xrefCardNum"
            id="field_xrefCardNum"
            data-cy="xrefCardNum"
            formControlName="xrefCardNum"
          />
          <div *ngIf="editForm.get('xrefCardNum')!.invalid && (editForm.get('xrefCardNum')!.dirty || editForm.get('xrefCardNum')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('xrefCardNum')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 16 }"
            >
              This field cannot be longer than 16 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mainMicroApp.cxacaixmicroCxacaix.xrefCustId" for="field_xrefCustId"
            >Xref Cust Id</label
          >
          <input
            type="number"
            class="form-control"
            name="xrefCustId"
            id="field_xrefCustId"
            data-cy="xrefCustId"
            formControlName="xrefCustId"
          />
          <div *ngIf="editForm.get('xrefCustId')!.invalid && (editForm.get('xrefCustId')!.dirty || editForm.get('xrefCustId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('xrefCustId')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 9 }"
            >
              This field cannot be more than 9.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('xrefCustId')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mainMicroApp.cxacaixmicroCxacaix.xrefAcctId" for="field_xrefAcctId"
            >Xref Acct Id</label
          >
          <input
            type="number"
            class="form-control"
            name="xrefAcctId"
            id="field_xrefAcctId"
            data-cy="xrefAcctId"
            formControlName="xrefAcctId"
          />
          <div *ngIf="editForm.get('xrefAcctId')!.invalid && (editForm.get('xrefAcctId')!.dirty || editForm.get('xrefAcctId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('xrefAcctId')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 11 }"
            >
              This field cannot be more than 11.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('xrefAcctId')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mainMicroApp.cxacaixmicroCxacaix.filler" for="field_filler">Filler</label>
          <input type="text" class="form-control" name="filler" id="field_filler" data-cy="filler" formControlName="filler" />
          <div *ngIf="editForm.get('filler')!.invalid && (editForm.get('filler')!.dirty || editForm.get('filler')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('filler')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 14 }"
            >
              This field cannot be longer than 14 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
