<div>
  <h2 id="page-heading" data-cy="AcctdatHeading">
    <span jhiTranslate="mainMicroApp.coactvwc.home.title">Coactvwcs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mainMicroApp.coactvwc.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="acctdats?.length === 0">
    <span jhiTranslate="mainMicroApp.acctdatmicroAcctdat.home.notFound">No acctdats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="acctdats && acctdats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="acctId">
            <span jhiTranslate="mainMicroApp.acctdatmicroAcctdat.acctId">Acct Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let acctdat of acctdats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/coactvwc', acctdat.id, 'view']">{{ acctdat.id }}</a>
          </td>
          <td>{{ acctdat.acctId }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/coactvwc', acctdat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
