<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="coactvwc">
      <h2 data-cy="coactvwcDetailsHeading"><span jhiTranslate="mainMicroApp.coactvwc.detail.title">Coactvwc</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>
      <div
        style="display: block; height: 100vh; width: 160vh; overflow: scroll; cursor: grab; color: rgb(0, 255, 0); background-color: #000"
      >
        <div id="ScreenRendering" style="position: relative">
          <form tabindex="0" id="screenForm" class="focus-visible:border-2 border-blue-500">
            <label
              id="lbl1"
              for="lbl1"
              class=""
              style="
                left: 9px;
                top: 1px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Tran:</label
            ><label
              id="lblTrnname"
              for="lblTrnname"
              class=""
              style="
                left: 59px;
                top: 1px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXX</label
            ><label
              id="lblTitle01"
              for="lblTitle01"
              class=""
              style="
                left: 177px;
                top: 1px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lbl2"
              for="lbl2"
              class=""
              style="
                left: 547px;
                top: 1px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Date:</label
            ><label
              id="lblCurdate"
              for="lblCurdate"
              class=""
              style="
                left: 597px;
                top: 1px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >mm/dd/yy</label
            ><label
              id="lbl3"
              for="lbl3"
              class=""
              style="
                left: 9px;
                top: 22px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Prog:</label
            ><label
              id="lblPgmname"
              for="lblPgmname"
              class=""
              style="
                left: 59px;
                top: 22px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXX</label
            ><label
              id="lblTitle02"
              for="lblTitle02"
              class=""
              style="
                left: 177px;
                top: 22px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lbl4"
              for="lbl4"
              class=""
              style="
                left: 547px;
                top: 22px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Time:</label
            ><label
              id="lblCurtime"
              for="lblCurtime"
              class=""
              style="
                left: 597px;
                top: 22px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >hh:mm:ss</label
            ><label
              id="lbl5"
              for="lbl5"
              class=""
              style="
                left: 278px;
                top: 64px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >View Account</label
            ><label
              id="lbl6"
              for="lbl6"
              class=""
              style="
                left: 160px;
                top: 85px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Account Number :</label
            ><label
              id="txtAcctsid"
              for="txtAcctsid"
              class=""
              style="
                left: 320px;
                top: 85px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >99999999999</label
            ><label
              id="lbl7"
              for="lbl7"
              class=""
              style="
                left: 479px;
                top: 85px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Active Y/N: </label
            ><label
              id="lblAcsttus"
              for="lblAcsttus"
              class=""
              style="
                left: 589px;
                top: 85px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >X</label
            ><label
              id="lbl8"
              for="lbl8"
              class=""
              style="
                left: 68px;
                top: 106px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Opened:</label
            ><label
              id="lblAdtopen"
              for="lblAdtopen"
              class=""
              style="
                left: 143px;
                top: 106px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXX</label
            ><label
              id="lbl9"
              for="lbl9"
              class=""
              style="
                left: 328px;
                top: 106px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Credit Limit :</label
            ><label
              id="lblAcrdlim"
              for="lblAcrdlim"
              class=""
              style="
                left: 513px;
                top: 106px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >9999,999,999.99</label
            ><label
              id="lbl10"
              for="lbl10"
              class=""
              style="
                left: 68px;
                top: 127px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Expiry:</label
            ><label
              id="lblAexpdt"
              for="lblAexpdt"
              class=""
              style="
                left: 143px;
                top: 127px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXX</label
            ><label
              id="lbl11"
              for="lbl11"
              class=""
              style="
                left: 328px;
                top: 127px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Cash credit Limit :</label
            ><label
              id="lblAcshlim"
              for="lblAcshlim"
              class=""
              style="
                left: 513px;
                top: 127px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >9999,999,999.99</label
            ><label
              id="lbl12"
              for="lbl12"
              class=""
              style="
                left: 68px;
                top: 148px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Reissue:</label
            ><label
              id="lblAreisdt"
              for="lblAreisdt"
              class=""
              style="
                left: 143px;
                top: 148px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXX</label
            ><label
              id="lbl13"
              for="lbl13"
              class=""
              style="
                left: 328px;
                top: 148px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Current Balance :</label
            ><label
              id="lblAcurbal"
              for="lblAcurbal"
              class=""
              style="
                left: 513px;
                top: 148px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >9999,999,999.99</label
            ><label
              id="lbl14"
              for="lbl14"
              class=""
              style="
                left: 328px;
                top: 169px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Current Cycle Credit:</label
            ><label
              id="lblAcrcycr"
              for="lblAcrcycr"
              class=""
              style="
                left: 513px;
                top: 169px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >9999,999,999.99</label
            ><label
              id="lbl15"
              for="lbl15"
              class=""
              style="
                left: 68px;
                top: 190px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Account Group:</label
            ><label
              id="lblAaddgrp"
              for="lblAaddgrp"
              class=""
              style="
                left: 194px;
                top: 190px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXX</label
            ><label
              id="lbl16"
              for="lbl16"
              class=""
              style="
                left: 328px;
                top: 190px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Current Cycle Debit :</label
            ><label
              id="lblAcrcydb"
              for="lblAcrcydb"
              class=""
              style="
                left: 513px;
                top: 190px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >9999,999,999.99</label
            ><label
              id="lbl17"
              for="lbl17"
              class=""
              style="
                left: 269px;
                top: 211px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Customer Details</label
            ><label
              id="lbl18"
              for="lbl18"
              class=""
              style="
                left: 68px;
                top: 232px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Customer id :</label
            ><label
              id="lblAcstnum"
              for="lblAcstnum"
              class=""
              style="
                left: 194px;
                top: 232px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXX</label
            ><label
              id="lbl19"
              for="lbl19"
              class=""
              style="
                left: 412px;
                top: 232px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >SSN:</label
            ><label
              id="lblAcstssn"
              for="lblAcstssn"
              class=""
              style="
                left: 454px;
                top: 232px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXX</label
            ><label
              id="lbl20"
              for="lbl20"
              class=""
              style="
                left: 68px;
                top: 253px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Date of birth:</label
            ><label
              id="lblAcstdob"
              for="lblAcstdob"
              class=""
              style="
                left: 194px;
                top: 253px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXX</label
            ><label
              id="lbl21"
              for="lbl21"
              class=""
              style="
                left: 412px;
                top: 253px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >FICO Score:</label
            ><label
              id="lblAcstfco"
              for="lblAcstfco"
              class=""
              style="
                left: 513px;
                top: 253px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXX</label
            ><label
              id="lbl22"
              for="lbl22"
              class=""
              style="
                left: 9px;
                top: 274px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >First Name</label
            ><label
              id="lbl23"
              for="lbl23"
              class=""
              style="
                left: 236px;
                top: 274px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Middle Name: </label
            ><label
              id="lbl24"
              for="lbl24"
              class=""
              style="
                left: 463px;
                top: 274px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Last Name : </label
            ><label
              id="lblAcsfnam"
              for="lblAcsfnam"
              class=""
              style="
                left: 9px;
                top: 295px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lblAcsmnam"
              for="lblAcsmnam"
              class=""
              style="
                left: 236px;
                top: 295px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lblAcslnam"
              for="lblAcslnam"
              class=""
              style="
                left: 463px;
                top: 295px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lbl25"
              for="lbl25"
              class=""
              style="
                left: 9px;
                top: 316px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Address:</label
            ><label
              id="lblAcsadl1"
              for="lblAcsadl1"
              class=""
              style="
                left: 85px;
                top: 316px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lbl26"
              for="lbl26"
              class=""
              style="
                left: 530px;
                top: 316px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >State </label
            ><label
              id="lblAcsstte"
              for="lblAcsstte"
              class=""
              style="
                left: 614px;
                top: 316px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XX</label
            ><label
              id="lblAcsadl2"
              for="lblAcsadl2"
              class=""
              style="
                left: 85px;
                top: 337px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lbl27"
              for="lbl27"
              class=""
              style="
                left: 530px;
                top: 337px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Zip</label
            ><label
              id="lblAcszipc"
              for="lblAcszipc"
              class=""
              style="
                left: 614px;
                top: 337px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXX</label
            ><label
              id="lbl28"
              for="lbl28"
              class=""
              style="
                left: 9px;
                top: 358px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >City </label
            ><label
              id="lblAcscity"
              for="lblAcscity"
              class=""
              style="
                left: 85px;
                top: 358px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lbl29"
              for="lbl29"
              class=""
              style="
                left: 530px;
                top: 358px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Country</label
            ><label
              id="lblAcsctry"
              for="lblAcsctry"
              class=""
              style="
                left: 614px;
                top: 358px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXX</label
            ><label
              id="lbl30"
              for="lbl30"
              class=""
              style="
                left: 9px;
                top: 379px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Phone 1:</label
            ><label
              id="lblAcsphn1"
              for="lblAcsphn1"
              class=""
              style="
                left: 85px;
                top: 379px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXX</label
            ><label
              id="lbl31"
              for="lbl31"
              class=""
              style="
                left: 202px;
                top: 379px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Government Issued Id Ref : </label
            ><label
              id="lblAcsgovt"
              for="lblAcsgovt"
              class=""
              style="
                left: 488px;
                top: 379px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lbl32"
              for="lbl32"
              class=""
              style="
                left: 9px;
                top: 400px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Phone 2:</label
            ><label
              id="lblAcsphn2"
              for="lblAcsphn2"
              class=""
              style="
                left: 85px;
                top: 400px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXX</label
            ><label
              id="lbl33"
              for="lbl33"
              class=""
              style="
                left: 202px;
                top: 400px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >EFT Account Id: </label
            ><label
              id="lblAcseftc"
              for="lblAcseftc"
              class=""
              style="
                left: 345px;
                top: 400px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXX</label
            ><label
              id="lbl34"
              for="lbl34"
              class=""
              style="
                left: 446px;
                top: 400px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >Primary Card Holder Y/N:</label
            ><label
              id="lblAcspflg"
              for="lblAcspflg"
              class=""
              style="
                left: 656px;
                top: 400px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >X</label
            ><label
              id="lblInfomsg"
              for="lblInfomsg"
              class=""
              style="
                left: 194px;
                top: 442px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lblErrmsg"
              for="lblErrmsg"
              class="emboldened"
              style="
                left: 9px;
                top: 463px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label
            ><label
              id="lbl35"
              for="lbl35"
              class=""
              style="
                left: 26px;
                top: 484px;
                font-family: 'Courier New';
                font-size: 14px;
                font-weight: 100;
                white-space: nowrap;
                position: absolute;
              "
              >F3=Exit
            </label>
          </form>
        </div>
      </div>

      <hr />

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/coactvwc', acctdat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
